@import '../assets/stylesheets/bootstrap_custom'

.white
  cursor: pointer
  display: flex
  justify-content: center
  align-items: flex-end
  border: 2px solid $gray-dark
  background-color: $white
  height: 100%
  width: 100%
  padding-bottom: .2em
  color: lighten($black, 50%)
  &:not(:first-child)
    border-left: none
  &:hover
    background-color: darken($white, 10%)
  &:active, &.active
    background-color: darken($white, 20%)
.black
  cursor: pointer
  display: flex
  justify-content: center
  align-items: flex-end
  $white-width: calc(100% / 7)
  $black-width: 8%
  position: absolute
  background-color: $gray-dark
  height: 100%
  width: 8%
  padding-bottom: .2em
  color: darken($white, 20%)
  &:hover
    background-color: darken($gray-dark, 10%)
  &:active, &.active
    background-color: darken($gray-dark, 20%)
  &:first-child
    left: calc($white-width - $black-width / 2)
  &:nth-child(2)
    left: calc($white-width * 2 - $black-width / 2)
  &:nth-child(3)
    left: calc($white-width * 4 - $black-width / 2)
  &:nth-child(4)
    left: calc($white-width * 5 - $black-width / 2)
  &:nth-child(5)
    left: calc($white-width * 6 - $black-width / 2)
