@use '../assets/stylesheets/lib' as *

.white
  border: 2px solid $gray-darkest
  background-color: $white
  height: 100%
  width: 100%
  color: $gray-darkest
  &:not(:first-child)
    border-left: none
  &:hover
    background-color: darken($white, 10%)
  &:active, &.active
    background-color: darken($white, 20%)
.black
  $white-width: calc(100% / 7)
  $black-width: 8%
  position: absolute
  background-color: $gray-darkest
  height: 100%
  width: 8%
  color: darken($white, 20%)
  &:hover
    background-color: darken($gray-darkest, 10%)
  &:active, &.active
    background-color: darken($gray-darkest, 20%)
  &:first-child
    left: calc($white-width - $black-width / 2)
  &:nth-child(2)
    left: calc($white-width * 2 - $black-width / 2)
  &:nth-child(3)
    left: calc($white-width * 4 - $black-width / 2)
  &:nth-child(4)
    left: calc($white-width * 5 - $black-width / 2)
  &:nth-child(5)
    left: calc($white-width * 6 - $black-width / 2)
.white, .black
  cursor: pointer
  display: flex
  justify-content: center
  align-items: flex-end
  padding-bottom: .4rem
  font-size: 1rem
