@use '../assets/stylesheets/lib' as *

.wrapper
  outline: none
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
.keyboard
  position: relative
  width: 18rem
  height: 20rem
  display: flex
  justify-content: center
  align-items: center
  & + &
    div:first-child
      border-left: none
.black_wrapper
  position: absolute
  display: flex
  justify-content: flex-start
  align-items: center
  top: 0
  left: 0
  width: 100%
  height: 60%
.start_btn
  cursor: pointer
  position: fixed
  width: 100vw
  height: 100vh
  height: 100dvh
  display: flex
  justify-content: center
  align-items: center
  appearance: none
  background-color: rgba($black, .88)
  border: none
  color: $white
  font-size: 6rem
  letter-spacing: .12em
